CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_VANETZA_IDF_RADIO_C5=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_VANETZA_IDF_SECURITY_VERIFY=y
CONFIG_VANETZA_IDF_PKI=y
