CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_RTTI=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=32768
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_VANETZA_IDF_PROFILE_FACILITIES=y
CONFIG_VANETZA_IDF_CAM=y
CONFIG_VANETZA_IDF_DENM=y
CONFIG_VANETZA_IDF_VAM=y
CONFIG_VANETZA_IDF_HIL=y
