CONFIG_VANETZA_IDF_PROFILE_NETWORK=y
# CONFIG_VANETZA_IDF_PROFILE_FACILITIES is not set
# CONFIG_VANETZA_IDF_PROFILE_ACCESS is not set
# CONFIG_VANETZA_IDF_CAM is not set
# CONFIG_VANETZA_IDF_DENM is not set
# CONFIG_VANETZA_IDF_VAM is not set
